body {
    min-height: 100%;
    display: flex;
}

.flex-sticky {
    padding-top: 78px;
    box-sizing: border-box;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    // padding-bottom: 60px;

    &__content {
        flex: 1;
    }
}

.main-container {
    max-width: 777px;
    margin: 0 auto;
    padding: 30px 10px;
    text-align: left;
}
