.coming-soon {
    text-align: center;
    margin-bottom: 60px;

    &__logo {
        margin: 40px auto 60px;
        display: inline-block;
        text-decoration: none;
    }

    &__logo-img {
        width: 180px;
        height: auto;
        margin-bottom: 50px;
    }

    &__slogan {
        font-family: 'PT Sans', sans-serif;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 300;
        color: #fff;
    }

    &__title {
        color: #fff;
        font-size: 46px;
        padding: 0 16%;
        margin-bottom: 50px;
    }

    &__section {
        margin: 0 auto 120px;
        width: 670px;
        text-align: left;
        position: relative;
        padding: 40px 50px;
        background: rgba(#fff,.2);
        box-sizing: border-box;

        h2 {
            margin: 0;
            color: #8b8901;
            background: #fff;
            width: 270px;
            padding: 40px;
            font-size: 24px;
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            box-sizing: border-box;
        }

        div.fb {
            padding-left: 270px;

            h3 {
                margin: 0 0 40px;
                color: #fff;
                font-size: 20px;
                font-weight: 400;
            }
        }
    }

    &__link {
        text-decoration: none;
        color: #c6c6c6;
        font-size: 15px;
        border: 1px solid #c6c6c6;
        display: block;
        padding: 12px 70px 12px 18px;
        background: url(icon-fb.png) right center no-repeat;
        transition: border-color .25s ease, color .25s ease, background-color .25s ease;

        &:hover {
            background-color: #fff;
            color: #3a579d;
            border-color: #3a579d;
        }
    }

    &__copyright {
        font-family: 'PT Sans', sans-serif;
        color: #ef4030;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 13px;
        margin-bottom: 30px;
    }

    &__powered {
        font-family: 'PT Sans', sans-serif;
        color: rgba(#fff,.5);
        text-transform: uppercase;
        letter-spacing: 2.5px;
        font-size: 9px;
        letter-spacing: 2px;
    }

    &__powered-link {
        color: #ef4030;
        text-decoration: none;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            right: 0;
            top: -2px;
            height: 1px;
            left: 100%;
            background: #ef4030;
            transition: left .25s ease;
        }
        &:hover:before {
            left: 0;
        }

        &:after {
            content: '';
            position: absolute;
            right: 0;
            bottom: -2px;
            height: 1px;
            left: 0;
            background: #ef4030;
            transition: left .25s ease;
        }
        &:hover:after {
            left: 100%;
        }
    }
}
