// Selection colors
$selection-color: #8b8901;

::selection {
    background: $selection-color;
}

::-moz-selection {
    background: $selection-color;
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

body {
    -webkit-tap-highlight-color: $selection-color;
}

// Basic
html {
    min-height: 100%;
}

body {
    text-align: center;
    background: #3c291d url(bg.jpg) top center no-repeat;
    // background: #3c291d url(bg-manufactory.jpg) top center no-repeat;
    // background-color: #3c291d;
    background-size: cover;
    font-family: 'PT Serif', serif;
    margin: 0;
    color: #fff;
}
