$S: 508px;
$M: 754px;
$L: 1054px;
$XL: 1300px;
@import '../../node_modules/coriolan-ui/mixins/media';

.main-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: #fff;
    padding: 0 10px;
    box-sizing: border-box;
    text-align: center;
    font-family: 'PT Sans', sans-serif;

    &__link {
        padding: 4px 6px;
        display: inline-block;
        font-size: 13px;
        text-decoration: none;
        color: #000;
        text-transform: uppercase;
        transition: color .25s ease;
        font-weight: 700;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 0;
            height: 4px;
            transition: width .25s ease, left .25s ease;
            background: #f04130;
        }

        @include media(M) {
            padding: 30px 10px;
        }

        &:hover {
            color: rgba(#000,.5);
        }

        &.is-selected {
            color: rgba(#000,.5);

            &:after {
                left: 0;
                width: 100%;
            }
        }
    }
}
